
body {
	font-family: Arial, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-image: url("341726994_598543898889471_4533116577120466954_n.jpg");
	background-size: 100%;
	background-attachment: fixed;
	position: relative;
	background-size: cover;
  	background-position: center center;
	
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url("341726994_598543898889471_4533116577120466954_n.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-size: cover;
  	background-position: center center;
	filter: blur(0px);
}

@media (max-width: 768px) {
  body {
    background-image: url("341726994_598543898889471_4533116577120466954_n.jpg");
    background-size: cover;
  }
}

.logo img {
	float: left;
	height: 80px;
	margin-left: 5px;
}


nav {
	background-color: #131368;
	color: #f5d41b;
	padding: 25px;
	flex-grow: 1;
}

nav ul {
	list-style: none;
	margin: 0;
	color: #f5d41b;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	justify-content:stretch;
	align-items:first baseline;
	padding-left: 30px;	
	

	
}

nav li {
	display: inline-block;
	background-color: #1e2e74;
	color: #f5d41b;
	padding: 10px 10px;
	margin-right: 20px;
	border: none;
	border-radius: 25px;
	text-align: justify;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	transition: transform 0.2s;
	cursor: pointer;
}

nav li:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}

h2 {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:#f5d41b;
	text-align: center;
	padding-top: 40px;
}

h3 {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #f5d41b;
	font-size: 25px;
	padding-left: 60px;
	padding-top: 30px;
	padding-bottom: 50px;
}

h5 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #f5d41b;
	padding-left: 50px;
	
}

.products {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.products li {
	flex-basis: calc(25% - 20px);
	margin: 10px;
	padding: 10px;
	text-align: center;
	background-color: #f5d41b;
	transition: transform 0.3s ease-in-out;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.products li:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.products li a {
	display: block;
	position: relative;
}

.products li a:hover img {
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
	z-index: 2;
}

.products li a:hover::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.products img {
	max-width: 100%;
	height: 150px;
	object-fit: cover;	
  object-fit: cover;
  margin-bottom: 10px;
}

.price {
  margin-top: 10px;
}

nav a {
  color: #FFD;
  text-decoration: none;
}

main {
  margin: 20px auto;
  max-width: 800px;
}
section {
	margin-bottom:1px;

}

.icon{
    width: 100px;
    float: left;
    height: 50px;
	
}

.icons a{
    text-decoration: none;
    color: #FFD;
	display: inline-flex;
	vertical-align: middle;
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
	
.icons ion-icon{
    color: #FFD;
    font-size: 30px;
    transition: 0.3s ease;
	flex-basis: calc(25% - 40px);
	margin: 8px;
	padding: 5px;
	text-align: center;
	background-color: #f5d41b;
	transition: transform 0.3s 
}

.icons ion-icon:hover{
    color: #3738a5;
}

.icons-container {
	text-align: center;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px; 
	background-color: #f5d41b; 
	transition: background-color 0.5s; 
   
}

.icons-container:hover {
	background-color: #14130b; 
}

.icons-container a {
	margin: 0 10px; 
}
